@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #474646; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #1372c5; 
    border-radius: 6px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c51f13; 
  }